---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.treasuryprime.com/apply/person_application
    body:
      encoding: UTF-8
      string: '{"citizenship":"US","date_of_birth":"1732-02-22","email_address":"test@example.com","first_name":"John","last_name":"Doe","phone_number":"2025551111","physical_address":{"street_line_1":"1600
        Pennsylvania Ave","city":"Washington","state":"DC","postal_code":"20500"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid date of birth: must be less than 130 years of age.
        date_of_birth: 1732-02-22"}'
  recorded_at: Thu, 03 Jun 2021 22:45:46 GMT
recorded_with: VCR 6.0.0
