---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.treasuryprime.com/apply/account_application
    body:
      encoding: UTF-8
      string: '{"primary_person_application_id":"unexistant","product":"personal_savings"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid id primary_person_application_id: unexistant"}'
  recorded_at: Thu, 03 Jun 2021 22:58:49 GMT
recorded_with: VCR 6.0.0
