---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.treasuryprime.com/webhook
    body:
      encoding: UTF-8
      string: '{"event":"account.update","url":"https://exapmle.com/notif","basic_user":null,"basic_secret":null}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"basic_secret":null,"basic_user":null,"updated_at":"2021-06-23T15:29:13Z","event":"account.update","status":"enabled","id":"wh_11gd6mt92pddye","url":"https://exapmle.com/notif","error":null,"created_at":"2021-06-23T15:29:13Z","userdata":null}'
  recorded_at: Wed, 23 Jun 2021 15:29:13 GMT
recorded_with: VCR 6.0.0
