---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.treasuryprime.com/account/acct_11gbjqeg2kxkgs/transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"check_id":null,"type_source":null,"amount":"5000.00","date":"2021-06-03","wire_id":null,"desc":"Initial
        funding","wire":null,"book_id":null,"type":"deposit","summary":null,"balance":"5000.00","billpay_payment_id":null,"id":"ttx_11gbjqem2kxkhh","trace_id":null,"ach_id":null,"fingerprint":"ttx_11gbjqem2kxkhh","check_number":null}],"page_next":null}'
  recorded_at: Tue, 22 Jun 2021 18:22:39 GMT
recorded_with: VCR 6.0.0
