---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.treasuryprime.com/cardproduct
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"created_at":"2021-05-18T23:17:47Z","updated_at":"2021-05-18T23:17:47Z","card_back_image_file_id":null,"type":"physical","card_front_image_file_id":null,"status":"active","id":"cdpt_11ga8jrv2hfe90","userdata":null},{"created_at":"2021-05-18T23:17:46Z","updated_at":"2021-05-18T23:17:46Z","card_back_image_file_id":null,"type":"virtual","card_front_image_file_id":null,"status":"active","id":"cdpt_11ga8jrt2hfe8x","userdata":null}],"total_estimated":10}'
  recorded_at: Fri, 04 Jun 2021 00:07:40 GMT
recorded_with: VCR 6.0.0
